<ion-view view-title="To Do list">
  <ion-content>
      
      <!--This shows the delete option in the list-->
        <ion-list show-delete="shouldShowDelete">
            
                <ion-item ng-repeat="task in data.tasks">
                    
                    <!--This is the delete button that is showen when the edit toggle is clicked-->
                    <ion-delete-button class="ion-minus-circled" ng-click="data.deleteTask($index)"></ion-delete-button>
                    
                    <!--This shows the task and the date and time it was issued-->
                    <h3>{{ task.title }}</h3>
                    <h6>{{ task.added | date:  'dd-MM-yyyy HH:mm' }}</h6>
                    
                </ion-item>
                               
        </ion-list>             
           
      <!--This is the toggle option with the label edit-->
          <ion-toggle ng-model="shouldShowDelete">Edit</ion-toggle>
          
  </ion-content>  
</ion-view>
       
